{% macro article_blog(entry) %}

    <article class="border-2 border-pink-800 m-2 rounded-md px-2">
        <div class="flex justify-between  font-sans font-bold mb-2">
            <h2>{{entry[0] | truncate(10,true)}}</h2>
            <time class="font-thin" datetime="{{entry[1]}}"> - {{entry[2]}} </time>

        </div>
        <p class="text-justify">{{entry[0]}}</p>
    </article>

{% endmacro %}